@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>AGILE ENGINE</h1>

    <div class="form-group text-center">
        <a class="btn btn-primary" asp-action="Images">Images</a>
    </div>
</div>
